.reset-password-container-wrapper {
    margin: 0px -20px;
}

.reset-password-heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #f0f2f5;
}

.reset-password-form-wrapper {
    height: auto;
}

.reset-password-heading {
    padding-bottom: 10px;
}

.login-form {
    margin-top: 30px;
}