.dashboard-wrapper {
    background-color: #f0f2f5;
}

.transaction-send-row {
    display: flex;
}

.send-container,
.transactions-container,
.wallet-container {
    background-color: white;
    margin-bottom: 15px
}

.send-container {
    flex: 1;
}

.transactions-container {
    flex: 2;
    margin-right: 10px;
}

.send-title, 
.transaction-table-title,
.wallet-title {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px;   
    font-size: larger;
    font-weight: 200;
}

.transaction-table-title{
    justify-content: space-between;
}

.send-money-container,
.transactions-table-container,
.wallet-cards-container {
    padding: 10px;
    padding-top: 15px;
}


.more-button {
    /* margin-bottom: 10px; */
    width: 100px;
}

@media  (max-width: 1050px) {
    .transaction-send-row {
        display: flex;
        flex-direction: column;
    }
}