.content-individual-transactions {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    border-top: none;
}

.single-data {
    margin-bottom: 20px;
}

.title-single-data {
    color: gray;
    margin-bottom: 0;
}