.logo {
   height: 64px;
   background: white;
   /* padding-top: 20px; */
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .ant-menu-item-selected {
  background-color: #ffffff;
}

.sider-layout {
  background-color: #fedb00;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-selected .anticon + span,
.ant-menu-dark .ant-menu-item-selected .anticon {
  color: #232323;
} 

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fff;
}