.send-money-modal
.ant-modal, 
.deposit-money-modal
.ant-modal,
.withdrawal-money-modal
.ant-modal,
.add-currency-modal
.ant-modal {
  width: 465px !important;
} 

.wallet-title {
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
  margin-bottom: 20px;
}