.send-money-modal
.ant-modal, 
.deposit-money-modal
.ant-modal,
.withdrawal-money-modal
.ant-modal,
.add-currency-modal
.ant-modal {
  width: 465px !important;
} 

.wallet-title {
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.wallet-page-wrapper-heading {
  background-color: #ffffff;
  height: 7vh;
  margin-top: -25px;
  margin-left: -15px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.wallet-page-wrapper-content {
  background-color: #e0e2e6;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: -40px;
  padding: 10px;
  min-height: 520px;
  /* min-height: 68vh; */
}

.wallet-content {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}