.send-money-modal
.ant-modal, 
.deposit-money-modal
.ant-modal,
.withdrawal-money-modal
.ant-modal,
.add-currency-modal
.ant-modal {
  width: 465px !important;
} 

.wallet-title {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 10px;   
  font-size: larger;
  font-weight: 200;
}

.wallet-cards-container {
  padding: 10px;
  padding-top: 15px;
}