@import '~antd/dist/antd.less';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: silver;
  font-weight: 600;
  background-color: @primary-color;
}

.summary-label {
  color: #434343;
}



// dark-mode
//layout
body.dark-mode,
.dark-mode .ant-layout {
  background-color: #303030;
  color: silver;
}

.dark-mode .site-layout .site-layout-background,
.dark-mode .ant-layout-footer,
.dark-mode .ant-menu,
.dark-mode .ant-layout-sider,
.dark-mode .transactions-container,
.dark-mode .send-container,
.dark-mode .wallet-container,
.dark-mode .wallet-balance-wrapper,
.dark-mode .sider-layout,
.dark-mode .logo {
  background-color: hsl(0, 0%, 26%);
  color: silver;
}

.dark-mode .ant-modal-content,
.dark-mode .ant-modal-header,
.dark-mode .ant-modal-title,
.dark-mode .ant-btn {
  background-color: #424242;
  color: silver;
}

.dark-mode .dashboard-wrapper {
  background-color: #303030;
  color: silver;
}

.dark-mode li.ant-menu-item:not(.ant-menu-item-selected):hover {
  color: silver;
  background: #1d20216e;
}

.dark-mode .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #1d2021;
  color: silver;
}

.dark-mode li.ant-menu-item.ant-menu-item-selected > span svg {
  fill: black;
}

.dark-mode .ant-breadcrumb a,
.dark-mode .ant-breadcrumb-separator,
.dark-mode .ant-breadcrumb > span:last-child {
  color: silver;
}


//components
.dark-mode h1,
.dark-mode h3,
.dark-mode h2,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode p {
  color: silver;
}

.dark-mode .ant-card,
.dark-mode .ant-card-head,
.dark-mode .ant-card-actions,
.dark-mode .ant-statistic-content-value-int,
.dark-mode .ant-statistic-content-value-decimal {
  color: silver;
  background: #303030;
}

.dark-mode .ant-card-head,
.dark-mode .ant-card-actions {
  border-bottom: 1px solid #424242;
  border-top: 1px solid #424242;
}

.dark-mode .ant-statistic-title {
  color: rgb(63, 134, 0);
}

.dark-mode .ant-card-bordered {
  border: 0;
}

// .dark-mode .anticon svg {
//   fill: black;
// }

.dark-mode .ant-menu-dark .ant-menu-item {
  color: silver;
}

.dark-mode .ant-card-actions li {
  color: silver;
}

.dark-mode .ant-card-actions > li:not(:last-child) {
  border-right: 1px solid #424242;
}

.dark-mode .ant-card-actions>li>span:hover {
  color: #fff;
}

.dark-mode .ant-select:not(.ant-select-customize-input) .ant-select-selector,
.dark-mode input.ant-input-number {
  background-color: #303030;
  border: 1px solid #424242;
  color: silver;
}

.dark-mode .ant-select-dropdown {
  background-color: #424242;
}

.dark-mode .ant-select-item {
  color: silver;
}

.dark-mode .ant-select-item:not(.ant-select-item-option-selected):hover {
  color: silver;
}

.dark-mode .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #2d2b2b;
}

.dark-mode .ant-picker,
.dark-mode .upload-button,
.dark-mode .ant-checkbox-inner,
.dark-mode .ant-input-affix-wrapper,
.dark-mode .ant-input,
.dark-mode .search-input,
.dark-mode #normal_login_firstName,
.dark-mode #normal_login_lastName,
.dark-mode #normal_login_email,
.dark-mode #normal_login_password,
.dark-mode #normal_login_repeatPassword {
    background-color: #303030;
    color: silver;
}

.dark-mode .bank-details {
  background-color: #303030;
}

.dark-mode .important-note {
  color: #f95153ed;
}

.dark-mode .ant-form-item-has-error .ant-input-number:not([disabled]):hover,
.ant-form-item-has-error .ant-picker:not([disabled]):hover {
  background-color: #424242;
}

.dark-mode .summary-label {
  color: silver;
}

.dark-mode .ant-table,
.dark-mode .transactions-table {
  background: #303030;
  color: silver;
}

.dark-mode tr.ant-table-row:hover {
  color: #cecac4;
}

.dark-mode .ant-table-thead>tr>th {
  background-color: #1d1f20;
  color: #cecac4;
}

.dark-mode .ant-table-tbody>tr>td {
  border-bottom: 0;
}

.dark-mode .ant-table-thead>tr>th {
  border-bottom: 0;
}

.dark-mode .ant-table-tbody>tr.ant-table-row:hover>td {
  background-image: initial;
  background-color: #1d20216e;
}