@font-face {
  font-family: Circular-Std;
  src: url(assets/fonts/CircularStd-Book.otf) format("opentype");
  font-weight: 100;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Circular-Bold;
  src: url(assets/fonts/CircularStd-Bold.otf) format("opentype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
