.all-components-wrapper {
   display: flex;
   flex-direction: column;
}

.data-display-section,
.data-entry-section {
    margin-bottom: 15px;
}

.data-display-heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding-left: 10px;
    border-bottom: 5px solid black;
}

.data-display-heading,
.data-entry-heading {
    padding-bottom: 10px;
}

.user-lite-heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #f0f2f5;
}

.user-lite-heading {
    padding-bottom: 10px;
}

