.ant-upload.ant-upload-select.ant-upload-select-picture-card {
  width: 140px;
  height: 30px;
  margin-left: 20px;
}

.profile-picture-avatar {
  width: 140px;
  height: 140px;
  line-height: 120px;
  font-size: 18px;
  border: 6px solid #f2f2f3;
}

.settings-page .ant-tabs-tabpane {
  border-bottom: 1px solid #f2f2f3;
  padding-bottom: 30px;
}

.settings-page .ant-avatar > img {
   border: 3px solid #fedb02;
   border-radius: 50%;
}

.general-form-input::placeholder {
  color: black;
}

.general-form-button-wrapper {
  display: flex;
  height: auto;
  align-items: center;
  margin-right: 20px;
  border-top: 1px solid #f0f2f5;
  border-bottom: 1px solid #f0f2f5;
}

.general-form-save-button,
.general-form-edit-button {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: gray;
}

.general-form-edit-button {
  width: 120px;
}