.trigger {
   font-size: 18px;
   line-height: 64px;
   padding: 0 24px;
   cursor: pointer;
   transition: color 0.3s;
 }

.trigger:hover {
   color: #1890ff;
 }

 .logout-button {
   float: right;
   padding: 20px;
 }

 .back-to-dashboard {
    display: flex;
    align-items: center;
    margin-left: 15px;
    text-transform: capitalize;
 }

 .leftOutlined {
    margin-right: 5px;
 }

 .breadCrumb {
   display: flex;
   align-items: center;
   padding-left: 26px;
   padding-top: 15px;
   text-transform: capitalize;
   /* height: 50px; */
 }